
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Oswald:wght@700&display=swap');


body{
    margin-left: auto;
    margin-right: auto;
    max-width:  1600px; 
    width: 90%;
}

.inicio{
    columns: 4;
    max-width: 400px;
   margin-left: auto;
   margin-top: 30px;
   font-family: 'Oswald', sans-serif;
    
}


h1{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-bottom: 5px;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;

}

h3{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    margin-bottom: 5px;
}



.parrafo1{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    margin-bottom: 2.25em;
    max-width:  30em; ;  
    margin-left:0 ;
    line-height: 1.53em;

}
.liniar{
max-width: 50em;
text-align: center;
}
a.botton{
    background-color: #f74545;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: aliceblue;
    padding: 0.5em 1em 0.5em;
    margin-bottom: 60px;

}

a.botton:hover{
    background-color: black;
    
}
.articulo{
    margin: auto;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
    width: 500px;
    
}

.derecha{
    margin-top: 250px;
}


.imagen{
    max-width :100%;
    width :auto ;
    margin-bottom: 2em;

}

.text{
    text-decoration: none;
    color: black;

}
.text:hover{
   color: #f74545;
}

.botton2{
    
    text-align: center;
    margin: 100px 100px;
}

.over{
    margin-top: 100px;
    
}

.text2{
    margin-bottom: 10%;
   
}
.tex3:hover{
    color: #f74545;
    background-color: #f74545;
}

.over{
    
    width: 1000px;
    height: 400px;
   overflow: scroll;
   display: flex;
}

.columnas4{
    width: 1000px;
    height: 200px;
    columns: 4;
}
.fondo{
    background-color:#ebf4f5;
}